.slider{
  display: flex;
  justify-content: center;
  /* background-color: red; */

}
.slider > img{
  width: 50;
  height: 300px;
  
}
  /* position: relative;

  /* justify-content: center;
  align-items: center;
  object-fit: contain; */

